<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>512106408043-dthhcr5j239sdpdu6elfj1p3sd3hatu2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.512106408043-dthhcr5j239sdpdu6elfj1p3sd3hatu2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>512106408043-8mqq6vvcjsfhr5lcf8ee3sbm931us6ln.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDv6K9x0S4F8915DIGvLuzW-YnLMBp2t0c</string>
	<key>GCM_SENDER_ID</key>
	<string>512106408043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kanairoxo.app</string>
	<key>PROJECT_ID</key>
	<string>kanairoxo-79d4b</string>
	<key>STORAGE_BUCKET</key>
	<string>kanairoxo-79d4b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:512106408043:ios:5149dc1ef6a72c7b4fe92e</string>
</dict>
</plist>